@model IEnumerable<proctos.Models.CategoryOfProduct>

@{
    ViewBag.Title = "Category Of Products";
}

<h1>Category Of Products</h1>
<a href="@Url.Action("AddCategoryOfProduct", "Admin")" class="btn btn-success">Add New</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdCategoryOfProduct</td>
                <td>@item.NameCategoryOfProduct</td>
                <td>
                    <a href="@Url.Action("EditCategoryOfProduct", "Admin", new { id = item.IdCategoryOfProduct })" class="btn btn-primary">Edit</a>
                    <a href="@Url.Action("DeleteCategoryOfProduct", "Admin", new { id = item.IdCategoryOfProduct })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
